{
    "extends": "react-app",
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": 0,
        "react/react-in-jsx-scope": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ]
    }
}