@tailwind base;
@tailwind components;
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    116.61deg,
    #7f7fd5 4.28%,
    #8399e0 43.97%,
    #85a1e4 47.94%,
    #85a1e4 59.51%,
    #86a8e7 68.14%,
    #91eae4 97.04%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
