body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: 'Roboto';
}

body {
  background: linear-gradient(
    116.61deg,
    #7f7fd5 4.28%,
    #8399e0 43.97%,
    #85a1e4 47.94%,
    #85a1e4 59.51%,
    #86a8e7 68.14%,
    #91eae4 97.04%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
